body {
    font-family: Arial, Helvetica, sans-serif;
    
}

div {
    position: absolute;
    top: 13%;
    left: 26%;
    transform: translate(-50%,-50%);
    height: 5vh;
}

a {
    text-decoration: none;
    color: rgb(40, 35, 35);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    height: 30px;
}

a:hover {
    text-decoration:underline ;
    color: rgb(0, 0, 0);
}