<body>
    <div id="container">
        <h1 v-if="posts && comments">{{ name }}</h1>
        <br>
        <hr v-if="posts && comments">
        <br>
        <h2 v-if="posts">Posts</h2>
        <li v-for="(post, index) in posts" :key="post">
            <br>
            <a :href="`/post/${post.name}/${post.title}`">{{index+1}}.{{post.title}}</a>
        </li> 
        <br>
        <h2 v-if="comments">Comments</h2>
        <li v-for="(comment, index) in comments" :key="comment">
            <br>
            <a :href="`/comment/${comment._id}`">{{index+1}}.{{comment.message}}</a>
        </li> 
    </div>
</body>