<body>
    <LoadingPage v-if="!fullLoad"></LoadingPage>

    <div v-if="fullLoad" id="container">
        <p id="name" :style="{width: nameWidth}">
            <a :href="`/user/${this.name}`"> {{ name }} </a>
        </p>
        <h1 id="title">{{ title }}</h1>
        <br>
        <p>{{ message }}</p>
        <br>
        <a id="reply" :href="`${this.replyLink}`">Reply</a>

        <div id="changers" v-if="postIsMine">
            <br>
            <button id="delete" v-on:click="deletePost">Delete</button>      
            <button id="update"><a :href="`/post/update/${this.id}`">Update</a></button>
        </div>

        <li v-for="comment in comments" :key="comment">
            <br>
            <p id="name" :style="{ width: comment.name.length * 11 + 'px' }">
                <a :href="`/user/${comment.name}`">{{ comment.name }}</a>
            </p>
            <p id="comment">{{comment.message}}</p>
        </li>
    </div>
</body>