<body>
    <div id="container">
        <p id="name" :style="{width: nameLength * 11 + 'px'}"> {{ name }} </p>
        <h1 id="title">{{ title }}</h1>
        <br>
        <p>{{ message }}</p>
        <br>
        <a :href="`/comment/${name}/${title}`">Reply</a>
        <li v-for="comment in comments" :key="comment">
            <br>
            <p id="name" :style="{width: comment.name.length * 11 + 'px'}">{{comment.name}}</p>
            <p id="comment">{{comment.message}}</p>
        </li>
    </div>
</body>