body {
    font-family: 'Courier New', Courier, monospace;  
}

#container {
    position: absolute;
    top: 10%;
    left: 15%;
    height: 90vh;
    width: 95vh;
}



#name {
    padding: 1px;
    background-color: rgb(180, 230, 255);
    border: none;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    color: rgb(55, 60, 210);
    font-size: 15px;
}

#title {
    font-size: 35px;
    letter-spacing: 1px;
}   

a {
    padding: 5px;
    width: 125%;
    border: 1px solid rgb(215, 215, 225);
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: rgb(250, 250, 245);
    transition: 0.5;
}

textarea {  
    position: absolute;    
    border: 1px solid rgb(226, 219, 219);
    width: 20vh;
    height: 20vh;
    font-size: 14px;
    resize: none;
    display: flex;
    padding: 17px 20px;
    font-family: 'Courier New', Courier, monospace;
}


textarea:focus {      
    box-shadow: 0 0 0 0;
    outline: 0;
}

li {
    list-style: none;
}

#comment {
    margin-top: 10px;
}